.indepth_pages{
	width: 100%;
	position: relative;
	background-color: white;
	font-family: 'Roboto';
	font-size: 19px;
	margin: auto;
	overflow: hidden;
}

.indeth_portada{
	position: relative;
}

.indepth_portada_body{
	background-image: url(../images/MUNDOMX_Logo.svg);
	background-position: center center;
	background-color: #00aab6;
	background-repeat: no-repeat;
	background-size: 40%;
	width: 100%;
	height: 100%;
}

.indepth_imag_cont{
	width: 100%;
	float: left;
}


.indepth_imag_cont img{
	width: 100%;
	height: auto;
	margin-bottom: -5px;
}

#nav-bar-wrapper{
	display: none;
}

.indepth_cont{
	width: 100%;
	height: auto;
	background-image: url(../images/pixel.png);
	background-color: #17a6ab;
	position: relative;
	overflow: scroll;
}

.indepth_share{
		position: fixed;
		right: 15px;
		top: 70px;
		z-index: 2000;
		display: -webkit-inline-box;
     display: -webkit-inline-flex;
   display: -moz-inline-box;
     display: -ms-inline-flexbox;
     display: inline-flex;
		
	}
	
	#drag{
		display: none;
		right: 3px;
		top: 8px;
		z-index: 2000;
		
	}
	
	.indepth_share_item{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.2);
		background-color: rgba(255, 255, 255, 0.4);
		float: left;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 20px ;
		margin-left: 7px;
		cursor: pointer;
		margin-bottom: 5px;
	}
	
	.indepth_share_item.facebook{
		background-image: url(../images/boton_facebook.png);
	}
	
	.indepth_share_item.facebook:hover{
		background-color: #3660A4;
	}
	
	.indepth_share_item.twitter{
		background-image: url(../images/boton_twitter.png);
	}
	
	.indepth_share_item.twitter:hover{
		background-color: #02B2F7;
	}
	
	
	.indepth_share_item.whatsapp{
		display: none;
		background-image: url(../images/boton_whatsapp.png);
	}
	
	.indepth_share_item.whatsapp:hover{
		background-color: #85D86D;
	}
	
.indepth_container{
	width: 200%;
	height: auto;
	position: absolute;
	bottom: 0px;
	display: table;
}